.Econtain{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   /* border: solid #3dbecf 0.5px; */
   box-sizing: border-box;
   width : auto;
   background-color: #ffffff !important;
  }
  
  
.Ehello{
    margin: 1em auto;
    margin-bottom: 0em;
    background-color:white !important;
    color: black !important;
    outline: gray !important ;
  }
  
