@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

.register-screen__title{
  font-family:  Poppins,sans-serif !important; 
  font-weight:500
}
.form-groupp{
  display: flex;
  flex-direction:row;
  justify-content: center;
 }

 .scontainer{
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 5%;
   width: 100px;
   box-sizing: border-box;
   background-color: #ffffff !important;
  } 

  .rowC{
    display:flex; 
    flex-direction:row;
    height: 100vh;
  }


