.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateBook {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookDetails {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.UpdateBookInfo {
  background-color: #2c3e50;
  min-height: 100vh;
  color: white;
}

.ShowBookList {
  background-color: #2c3e50;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: white;
} */


/* BookList Styles */
 .list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}

.card-container {
  width: 250px;
  border: 1px solid rgba(0,0,.125);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}

.desc h3, p {
  font-weight: 300;
}

.desc h3 {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}

.div{
      width: 50%;
      height:auto
  }

.divq{
  height:100%
}
.bgqqq{
  background-color: black;
  border-bottom:yellow;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 69px 30px;
  width: 300px;
  height: 175px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}
.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  filter:drop-shadow(20%);
  filter:brightness(0.7)
}
.card .card_imageppp {
  width: inherit;
  height: inherit;
  border-radius: 40px;

}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
  filter:grayscale(15%);}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  
.CreateBook {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
  }
  
  .ShowBookDetails {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
  }
  
  .UpdateBookInfo {
    background-color: #2c3e50;
    min-height: 100vh;
    color: white;
  }
  
  .ShowBookList {
    background-color: #2c3e50;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100px;
    color: white;
  } 
  
  
   BookList Styles 
   .list {
    display: grid;
  }

  
  .lcards-list {
    z-index: 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
  }


.pl{
  width: 125px;
  border-radius: 15px;
}


h1 {
  font-family:'Ariel',Sans-serif;
  font-size:75px;
  color:#000000;
  text-align:center;
  font-weight:bold;
  padding:15px 0px 15px 0px; /* Tweak this to your liking */
  }






.service{
  margin-top: -135px;
  text-align: center;}
  
  .lcard {
    margin: 10px 10px;
    width: 250px;
    height: auto;
    /* border-radius: 40px; */
    cursor: pointer;
  } 

  .services{
    line-height: 24px;
    color: #004c8c ;
    background: transparent;
    padding-top: 3%;
    padding-bottom: 2%;
    position: relative;
    clear: both;
    display: block;
    text-align: center;
    margin: auto;
  }
   
  .lfont{
    font-family:  Poppins,sans-serif !important;
    font-size:medium
  }

  .lfontu{
    font-family:  Poppins,sans-serif !important;
    font-weight: bold;
  }

  .lbtn{
    color: black;
    font-size: small;
    font-family: Poppins,sans-serif;    
  }
  
  .lcard-title{
    font-weight: bold;
    font-family: Poppins,sans-serif;    
  }



.colorplplpl{
  background-color: #02184f;
  border: #4bacb8;}
 
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Verdana";
  font-size: 15px;
}
.divq{
  height:100%
}
.bgqqq{
  background-color: black;
  border-bottom:yellow;
}
.bgq{
  color:blueviolet;
}

.bgp{
  background-color:greenyellow;
}
  @media all and (max-width: 500px) {
    .card-list {
      flex-direction: column;
    }
  }
  
